ul.quiz {
	list-style: none;
	margin: 0 15px 50px;
}
ul.quiz li span.number {
	margin-left: -40px;
	position: absolute;
	background: #ddd;
	vertical-align: middle;
	text-align: center;
	width: 30px;
	border-radius: 4px;
	display: block;
	font-size: 11px;
	font-weight: bold;
}
ul.quiz > li.instruction {
	margin-left: -25px;
}
ul.quiz > li {
	margin-bottom: 20px;
}
ul.choice {
	list-style: none;
	margin-left: 0;
}
ul.choice li {
	margin-top: 5px;
}
ul.choice li input[type=radio]{
	margin: 0;
}
#tempat_timer{
	margin:0 auto;
	text-align:center;
}
#timer{
	border-radius: 0 0 0 7px;
	border-bottom: 2px solid #aaa;
	border-left: 2px solid #aaa;
	padding: 7px;
	font-size: 2em;
	font-weight: bolder;
	position: fixed;
	right: 0;
	background: #fff;
	top: 0;
}
li.group {
  margin-top: 40px !important;
}
li.questions {
  margin-left: 40px;
  list-style: none;
}